<section id="content" class="text-center my-2">
  <h5 class="font-weight-bold">Muscle groups</h5>
  <div class="row">
    <div class="col-lg-12 mb-3">
      <img src="assets/img/musclegroups.jpg" class="img-fluid">
    </div>
  </div>

  <table class="table .table-responsive mb-5">
    <thead>
      <tr>
        <th>Group</th>
        <th>Sets</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><label style="font-weight: 500;">Chest</label></td>
        <td style="font-weight: 500;">9</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Upperback</label></td>
        <td style="font-weight: 500;">6</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Middleback</label></td>
        <td style="font-weight: 500;">9</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Biceps</label></td>
        <td style="font-weight: 500;">6</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Triceps</label></td>
        <td style="font-weight: 500;">6</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Legs</label></td>
        <td style="font-weight: 500;">9</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Calves</label></td>
        <td style="font-weight: 500;">3</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Lowerback</label></td>
        <td style="font-weight: 500;">6</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Shoulders</label></td>
        <td style="font-weight: 500;">6</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Infraspinatus</label></td>
        <td style="font-weight: 500;">3</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Abs</label></td>
        <td style="font-weight: 500;">8</td>
      </tr>
      <tr>
        <td><label style="font-weight: 500;">Side abs</label></td>
        <td style="font-weight: 500;">4</td>
      </tr>
    </tbody>
  </table>
</section>