<section id="content" class="text-center my-2">
    <div class="mt-3 mb-3">
        <a class="blue-text" routerLink="/quote-fader">
            <i class="fas fa-share blue-text"></i>
            Quotes
        </a>
    </div>
    <div class="mt-3 mb-3">
        <a class="blue-text" routerLink="/archive-dayone-april2019">
            <i class="fas fa-share blue-text"></i>
            Upper - April 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-daytwo-april2019">
            <i class="fas fa-share blue-text"></i>
            Lower - April 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-upper2019-april">
            <i class="fas fa-share blue-text"></i>
            Upper - May 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-lower2019-april">
            <i class="fas fa-share blue-text"></i>
            Lower - May 2019
        </a>
    </div>
</section>