h1 {
  color: rgb(6, 103, 87);
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  #content {
    margin-left: 15em;
    margin-right: 15em;
  }
}

@media only screen and (max-width: 1000px) {
  #content {
    margin-left: 1em;
    margin-right: 1em;
  }
}
