<section id="content" class="text-center my-2">
    <div class="mt-3 mb-3">
        <a class="blue-text" routerLink="/quote-fader">
            <i class="fas fa-share blue-text"></i>
            Quotes
        </a>
    </div>
    <div class="mt-3 mb-3">
        <a class="blue-text" routerLink="/rules">
            <i class="fas fa-share blue-text"></i>
            Rules
        </a>
    </div>
    <div class="mt-3 mb-3">
        <a class="blue-text" routerLink="/archive-upper2019-04">
            <i class="fas fa-share blue-text"></i>
            Upper - April 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-lower2019-04">
            <i class="fas fa-share blue-text"></i>
            Lower - April 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-upper2019-05">
            <i class="fas fa-share blue-text"></i>
            Upper - May 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-lower2019-05">
            <i class="fas fa-share blue-text"></i>
            Lower - May 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-upper2019-06">
            <i class="fas fa-share blue-text"></i>
            Upper - June 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-lower2019-06">
            <i class="fas fa-share blue-text"></i>
            Lower - June 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-upper2019-07">
            <i class="fas fa-share blue-text"></i>
            Upper - July 2019
        </a>
    </div>
    <div class="mb-3">
        <a class="blue-text" routerLink="/archive-lower2019-07">
            <i class="fas fa-share blue-text"></i>
            Lower - July 2019
        </a>
    </div>
</section>

<br>
<br>