
<section id="content" class="text-center my-2">
    
    <h1 class="h1-responsive font-weight-bold text-center text-white p-2 mb-4 blue-gradient">Archive</h1>

    <table class="table .table-responsive">
        <tbody>
            <tr>
                <th scope="row">
                    <a class="blue-text" routerLink="/archive-dayone-april2019">
                        <i class="fas fa-share blue-text"></i>
                        Day one - April 2019
                    </a>
                </th>
            </tr>

            <tr>
                <th scope="row">
                    <a class="blue-text" routerLink="/archive-daytwo-april2019">
                        <i class="fas fa-share blue-text"></i>
                        Day two - April 2019
                    </a>
                </th>
            </tr>

            <tr>
                <th scope="row">
                    <a class="blue-text" routerLink="/archive-upper2019-april">
                        <i class="fas fa-share blue-text"></i>
                        Upper - April 2019
                    </a>
                </th>
            </tr>

            <tr>
                <th scope="row">
                    <a class="blue-text" routerLink="/archive-lower2019-april">
                        <i class="fas fa-share blue-text"></i>
                        Lower - April 2019
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</section>