.text-center {
    text-align: center;
}

input {
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

#clock {
  font-family: 'digital-clock-font', 'arial', sans-serif;
  font-size: 8em;
}

@media only screen and (min-width: 1000px) {
    #content {
      margin-left: 15em;
      margin-right: 15em;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    #content {
      margin-left: 1em;
      margin-right: 1em;
      text-align: center;
    }
  }
  