<section id="content" class="text-center my-2">

  <div [hidden]="inputHidden">
    <br>
    <div class="row mt-2 mb-3">
      <div class="col-lg-3"></div>
      <div class="col-lg-1"><i class="fas fa-clock prefix blue-grey-text fa-2x"></i></div>
      <div class="col-lg-2 my-auto"><label>Train:</label></div>
      <div class="col-lg-4">
        <input id="tbSet" class="form-control" type="number" min="0" max="99" value="45"
        [(ngModel)]="timerSettings.trainDuration" (change)="changed($event)" /></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row mt-2 mb-3">
      <div class="col-lg-3"></div>
      <div class="col-lg-1"><i class="fas fa-bed prefix blue-grey-text fa-2x"></i></div>
      <div class="col-lg-2 my-auto"><label>Rest:</label></div>
      <div class="col-lg-4">
        <input id="tbRest" class="form-control" type="number" min="0" max="99" value="15"
          [(ngModel)]="timerSettings.restDuration" (change)="changed($event)" /></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row mt-2 mb-3">
      <div class="col-lg-3"></div>
      <div class="col-lg-1"><i class="fas fa-sort-numeric-up prefix blue-grey-text fa-2x"></i></div>
      <div class="col-lg-2 my-auto"><label>Sets:</label></div>
      <div class="col-lg-4">
        <input id="tbNrOfSets" class="form-control" type="number" min="0" max="99" value="10"
          [(ngModel)]="timerSettings.nrOfSets" (change)="changed($event)"></div>
      <div class="col-lg-2"></div>
    </div>
    <br>
    <div class="row d-flex align-items-center mb-3 mt-4">
      <div class="col-md-12 text-center">
        <button (click)="start()" type="button" class="btn btn-rounded z-depth-1a blue-grey text-white">Start</button>
      </div>
    </div>
  </div>

  <div [hidden]="!inputHidden">
    <br>
    <div id="lblTrainRest" class="col-md-12 text-center">
      {{lblTrainRest}}
    </div>
    <h1 id="clock">{{timeLeft | timerFormat}}</h1>
    <br>
    <div id="lblSetNr" class="col-md-12 text-center">
      <i (click)='back()' class="fas blue-grey-text fa-angle-double-left mr-2"></i>
      {{lblSetNumber}}/{{lblNrOfSets}}
      <i (click)='next()' class="fas blue-grey-text fa-angle-double-right ml-2"></i>
    </div>
    <br>
    <div class="col-md-12 text-center">
        <button (click)='stop()' type="button" class="btn btn-rounded blue-grey text-white">Stop</button>
        <button (click)='toggle()' type="button" class="btn btn-rounded blue-grey text-white">{{lblPauseResume}}</button>
    </div>
  </div>

</section>