<div id="cv" class="instaFade">
    <div class="mainDetails">
  
      <div id="name">
        <h1 class="quickFade delayTwo">Day one</h1>
        <br>
        <h2 class="quickFade delayThree">Chest, Back, Lats & Arms</h2>
      </div>
  
      <div id="contactDetails" class="quickFade delayFour">
        <ul>
          <li>From: 15 April 2019</li>
          <li>Till: 31 May 2019</li>
        </ul>
      </div>
  
      <div class="clear"></div>
    </div>
  
    <div id="mainArea" class="quickFade delayFive">
      <section>
        <div class="sectionTitle">
          <h1>Warming up</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Pull-ups & Dips</h2>
            <p class="subDetails">Super Set: 2 Sets </p>
            <h2>Weights</h2>
            <p class="subDetails">Warming up</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Chest</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Benchpress</h2>
            <p class="subDetails">Key Workout: 5 Sets - Pyramid With Drop</p>
            <h2>Incline Dumbbell Press & Dumbbell Squeeze Press</h2>
            <p class="subDetails">Super Set: 3 Sets - The 80% Rule</p>
            <h2>Cable Fly & Low Cable Crossover</h2>
            <p class="subDetails">Super Set: 3 Sets - The 80% Rule</p>
            <h2>Incline Chest Machine</h2>
            <p class="subDetails">3 Sets - The 80% Rule</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Back &</h1>
          <h1>Lats</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Seated Cable Row</h2>
            <p class="subDetails">Key Workout: 5 Sets - Pyramid With Drop</p>
            <h2>Pull ups & Dumbbell Fly Rear Delt</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
            <h2>Lat Pull-Down & Shrugs</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Biceps &</h1>
          <h1>Triceps</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Dumbbell Bicep curl & Skull Crushers</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
            <h2>Barbell Curl & Tricep Pushdown</h2>
            <p class="subDetails">HyperTrophy: 6+ Sets - 50% of max</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>