<section id="content" class="text-center">
        
    <h1 class="blue-grey-text mt-2 mb-5">The mobile muscle guide</h1>

    <div class="text-center mb-1">
        <i class="fas fa-dumbbell fa-3x blue-grey-text mb-2"></i>
        <p class="grey-text">Muscle growth potential.</p>
    </div>
    <div echarts [options]="maxGainsBarChart" class="chart mb-3"></div>

    <div class="text-center mb-3">
        <i class="fas fa-bullseye fa-3x blue-grey-text mb-2"></i>
        <p class="grey-text">Target strenght.</p>
    </div>
    <div echarts [options]="strenghtChart" class="chart"></div>

    <div class="text-center mb-3">
        <i class="fas fa-carrot fa-3x blue-grey-text mb-2"></i>
        <p class="grey-text">Eat protein,</p>
        <p class="grey-text">Eat healthy.</p>
    </div>
    <div echarts [options]="foodPieChart" class="chart mb-3"></div>

</section>