<section id="content" class="text-center my-2">
  <!--Header with dates-->
  <h1 class="h1-responsive font-weight-bold mt-2">Upper</h1>
  <p class="lead grey-text w-responsive mx-auto">90 minute training</p>
  <p class="lead grey-text w-responsive mx-auto mb-3">13 May 2019 - 21 June 2019</p>

  <table class="table .table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>✓</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><i class="fas fa-fire cyan-text mb-2"></i></td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Warming up
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">X</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
            <label class="custom-control-label" for="tableDefaultCheck1"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td><i class="fas fa-fist-raised cyan-text mb-2"></i></td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Pull ups & Dips
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">2*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-key cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Benchpress
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
            <label class="custom-control-label" for="tableDefaultCheck3"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Incline Dumbbell & Squeeze Press
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
            <label class="custom-control-label" for="tableDefaultCheck4"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Cable Fly & Low Cable Crossover
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5">
            <label class="custom-control-label" for="tableDefaultCheck5"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-key cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Standing Row
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6">
            <label class="custom-control-label" for="tableDefaultCheck6"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Lat Pull-Down & Shrugs
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck7">
            <label class="custom-control-label" for="tableDefaultCheck7"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Cable row & Rear Delt Raises
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck8">
            <label class="custom-control-label" for="tableDefaultCheck8"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-dumbbell cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Dumbbell Bicep Curl
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck9">
            <label class="custom-control-label" for="tableDefaultCheck9"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-dumbbell cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Skull Crushers
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck10">
            <label class="custom-control-label" for="tableDefaultCheck10"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-dragon cyan-text mb-2"></i>
        </td>
        <td>
          <label style="color:rgb(0,188,212); font-weight: 500;">
            Barbell Curl & Tricep Pushdown
          </label>
        </td>
        <td style="color:rgb(0,188,212); font-weight: 500;">∞</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck11">
            <label class="custom-control-label" for="tableDefaultCheck11"></label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</section>