
<section id="content" class="text-center my-2">

  <h1 class="h1-responsive font-weight-bold text-center text-white p-2 mb-2 blue-gradient">Upper</h1>
  <p class="lead grey-text w-responsive mx-auto mb-3">13 May 2019 - 21 June 2019</p>

  <table class="table .table-responsive mb-5">
    <thead>
      <tr>
        <th>Type</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>✓</th>
      </tr>
    </thead>

    <tbody>
      <tr >
        <td (click)="scroll(fire)"><i class="fas fa-fire blue-text mb-2"></i></td>
        <td (click)="scroll(fire)"><label style="font-weight: 500;">Warming up</label></td>
        <td style="font-weight: 500;">X</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
            <label class="custom-control-label" for="tableDefaultCheck1"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(key)"><i class="fas fa-key blue-text mb-2"></i></td>
        <td (click)="scroll(key)"><label style="font-weight: 500;">Benchpress</label></td>
        <td style="font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
            <label class="custom-control-label" for="tableDefaultCheck3"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(fist)"><i class="fas fa-fist-raised blue-text mb-2"></i></td>
        <td (click)="scroll(fist)"><label style="font-weight: 500;">Pull ups & Dips</label></td>
        <td style="font-weight: 500;">2*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(key)"><i class="fas fa-key blue-text mb-2"></i></td>
        <td (click)="scroll(key)"><label style="font-weight: 500;">Standing Row</label></td>
        <td style="font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6">
            <label class="custom-control-label" for="tableDefaultCheck6"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(gem)"><i class="fas fa-gem blue-text mb-2"></i></td>
        <td (click)="scroll(gem)"><label style="font-weight: 500;">Incline Dumbbell & Squeeze Press</label></td>
        <td style="font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
            <label class="custom-control-label" for="tableDefaultCheck4"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(gem)"><i class="fas fa-gem blue-text mb-2"></i></td>
        <td (click)="scroll(gem)"><label style="font-weight: 500;">Lat Pull-Down & Shrugs</label></td>
        <td style="font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck7">
            <label class="custom-control-label" for="tableDefaultCheck7"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Dumbbell Bicep Curl</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck9">
            <label class="custom-control-label" for="tableDefaultCheck9"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Skull Crushers</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck10">
            <label class="custom-control-label" for="tableDefaultCheck10"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(gem)"><i class="fas fa-gem blue-text mb-2"></i></td>
        <td (click)="scroll(gem)"><label style="font-weight: 500;">Cable Fly & Low Cable Crossover</label></td>
        <td style="font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5">
            <label class="custom-control-label" for="tableDefaultCheck5"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(gem)"><i class="fas fa-gem blue-text mb-2"></i></td>
        <td (click)="scroll(gem)"><label style="font-weight: 500;">Cable row & Rear Delt Raises</label></td>
        <td style="font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck8">
            <label class="custom-control-label" for="tableDefaultCheck8"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dragon)"><i class="fas fa-dragon blue-text mb-2"></i></td>
        <td (click)="scroll(dragon)"><label style="font-weight: 500;">Barbell Curl & Tricep Pushdown</label></td>
        <td style="font-weight: 500;">∞</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck11">
            <label class="custom-control-label" for="tableDefaultCheck11"></label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div #fire class="col-lg-4 mb-5">
      <i class="fas fa-fire fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Warming up</h5>
      <p class="grey-text">Come to the gym by bike to raise the temperature of the body. At the gym warm up with light weights and high intensity.</p>
    </div>

    <div #fist class="col-lg-4 mb-5">
      <i class="fas fa-fist-raised fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Calisthenics</h5>
      <p class="grey-text">Compound body weight exercises. Suitable for any fitness level and good for your posture. Do as many repetitions as you can.</p>
    </div>

    <div #key class="col-lg-4 mb-5">
      <i class="fas fa-key fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Key compound exercise</h5>
      <p class="grey-text">The most important exercises for increasing strenght, do a drop set at the end. You should not be able to do more then 6 repetitions. When reaching plateaus, try deloading.</p>
    </div>
  </div>

  <div class="row">
    <div #gem class="col-lg-4 mb-5">
      <i class="fas fa-gem fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Super set</h5>
      <p class="grey-text">Good exercises to get a lot of sets in your 90 minute workout. Good for muscle size, try to train at +- 70% of your max with 6 to 12 repetitions.</p>
    </div>

    <div #dumbbell class="col-lg-4 mb-5">
      <i class="fas fa-dumbbell fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Normal set</h5>
      <p class="grey-text">For ease or a little rest we sometimes do a normal set. train at +- 80% of your max with 6 to 12 repetitions.</p>
    </div>

    <div #dragon class="col-lg-4 mb-5">
      <i class="fas fa-dragon fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Endurance hypertrophy</h5>
      <p class="grey-text">Super series exercise for an opposing superset. No rest between sets, train at +- 70% of your max with 6 to 12 repetitions.</p>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>

</section>