<section id="content" class="text-center my-2">
  <!--Header with dates-->
  <h1 class="h1-responsive font-weight-bold mt-2">Lower</h1>
  <p class="lead grey-text w-responsive mx-auto">90 minute training</p>
  <p class="lead grey-text w-responsive mx-auto mb-3">15 April 2019 - 31 May 2019</p>

  <table class="table .table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Duration</th>
        <th>Check</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <i class="fas fa-fire cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(WarmingUp)" style="color:rgb(0,188,212); ">
            Warming up
          </label>
        </td>
        <td>5</td>
        <td>5</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-fist-raised cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(Pull)" style="color:rgb(0,188,212); ">
            Pull ups & Dips
          </label>
        </td>
        <td>4</td>
        <td>5</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-key cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(Mat)" style="color:rgb(0,188,212); ">
            Mat workouts
          </label>
        </td>
        <td>10</td>
        <td>10</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(Woodchop)" style="color:rgb(0,188,212); ">
            Horizontal Cable Woodchop
          </label>
        </td>
        <td>3</td>
        <td>5</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(AbMach)" style="color:rgb(0,188,212); ">
            Ab Machine
          </label>
        </td>
        <td>3</td>
        <td>10</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-key cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(Squats)" style="color:rgb(0,188,212); ">
            Squats
          </label>
        </td>
        <td>5</td>
        <td>15</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(LegPress)" style="color:rgb(0,188,212); ">
            Leg press & Calve Press
          </label>
        </td>
        <td>6</td>
        <td>10</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-gem cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(Dead)" style="color:rgb(0,188,212); ">
            Deadlift & Dumbbell Lunge
          </label>
        </td>
        <td>6</td>
        <td>15</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-dumbbell cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(ShoulPress)" style="color:rgb(0,188,212); ">
            Shoulder press
          </label>
        </td>
        <td>3</td>
        <td>10</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <i class="fas fa-dragon cyan-text mb-2"></i>
        </td>
        <td>
          <label (click)="scroll(ShoulHyper)" style="color:rgb(0,188,212); ">
            Shoulder Hypertrophy
          </label>
        </td>
        <td>*</td>
        <td>*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
            <label class="custom-control-label" for="tableDefaultCheck2"></label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div #WarmingUp class="col-lg-6 mb-5 mt-3">
      <i class="fas fa-fire fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Warming up</h5>
      <p class="nrOfSetsInfo grey-text">5 different sets in a row - 5 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text2c">Warm up your upper body with low weights and a standing position. Do Rear
        Delt Raises, Side Lateral Raises, Standing Shoulder Press, Biceps Curls, Overhead Tricep Extensions.</p>
    </div>

    <div #Pull class="col-lg-6 mb-5 mt-3">
      <i class="fas fa-fist-raised fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Pull ups & Dips</h5>
      <p class="nrOfSetsInfo grey-text">2 supersets - 5 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text2c">Pull up form: shoulder-width grip, pull your elbows to the floor & go all
        the way.
        Dip form: straighten your arms, dip below your elbows & lock your elbows at top.</p>
    </div>
  </div>

  <div class="row">
    <div #Mat class="col-lg-4 mb-5">
      <i class="fas fa-gem fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Mat workouts</h5>
      <p class="nrOfSetsInfo grey-text">10 short sets - 10 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">10 different mat workout in 45 sec with 15 sec rest in between.</p>
    </div>

    <div #Woodchop class="col-lg-4 mb-5">
      <i class="fas fa-dumbbell fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Horizontal Cable Woodchop</h5>
      <p class="nrOfSetsInfo grey-text">3 sets - 5 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">Do the Incline Dumbbell Press at 80% of your max. When all reps are done
        continue with the Dumbbell Squeeze Press on 60% of your max.</p>
    </div>

    <div #AbMach class="col-lg-4 mb-5">
      <i class="fas fa-dumbbell fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Ab Machine</h5>
      <p class="nrOfSetsInfo grey-text">3 sets - 5 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">Do the Cable Fly at 80% of your max. When all reps are done continue with
        the Low Cable Crossover.</p>
    </div>
  </div>

  <div class="row">
    <div #Squats class="col-lg-4 mb-5">
      <i class="fas fa-key fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Squats</h5>
      <p class="nrOfSetsInfo grey-text">5 sets with drop - 15 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">Key workout, focus on weight & drop the last set.</p>
    </div>

    <div #LegPress class="col-lg-4 mb-5">
      <i class="fas fa-gem fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Leg press & Calve Press</h5>
      <p class="nrOfSetsInfo grey-text">3 supersets - 10 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">Do the Leg press at 80% of your max and the Calve Press on 60%.
      </p>
    </div>

    <div #Dead class="col-lg-4 mb-5">
      <i class="fas fa-key fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Deadlift & Dumbbell Lunge</h5>
      <p class="nrOfSetsInfo grey-text">3 supersets - 15 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text3c">Key workout, focus on weight. after deadlift, kill it with low weight
        dumbbell lunges until broken.</p>
    </div>
  </div>

  <div class="row">
    <div #ShoulPress class="col-lg-6 mb-5">
      <i class="fas fa-key fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Shoulder press</h5>
      <p class="nrOfSetsInfo grey-text">3 sets - 10 minutes</p>
      <p class="grey-text mb-md-0 mb-3 text2c">Key workout, focus on weight.</p>
    </div>

    <div #ShoulHyper class="col-lg-6 mb-5">
      <i class="fas fa-dragon fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Shoulder Hypertrophy</h5>
      <p class="nrOfSetsInfo grey-text">infinite sets - until no time is left</p>
      <p class="grey-text mb-md-0 mb-3 text2c">Hypertrophy, repeat low weight Dumbbell Lateral Raise, Front Dumbbell
        Raise & Standing Shoulder Press untill broken.</p>
    </div>
  </div>

</section>