<section id="content" class="text-center my-2">

  <p class="lead grey-text w-responsive mx-auto mb-3">13 May 2019 - 21 June 2019</p>

  <table class="table .table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>✓</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td (click)="scroll(fire)"><i class="fas fa-fire blue-text mb-2"></i></td>
        <td (click)="scroll(fire)"><label style="font-weight: 500;">Mat workouts</label></td>
        <td style="font-weight: 500;">10</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb1">
            <label class="custom-control-label" for="cb1"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Standing Oblique Crunch</label></td>
        <td style="font-weight: 500;">2</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb2">
            <label class="custom-control-label" for="cb2"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(key)"><i class="fas fa-key blue-text mb-2"></i></td>
        <td (click)="scroll(key)"><label style="font-weight: 500;">Squats</label></td>
        <td style="font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb3">
            <label class="custom-control-label" for="cb3"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(key)"><i class="fas fa-key blue-text mb-2"></i></td>
        <td (click)="scroll(key)"><label style="font-weight: 500;">Standing Overhead Press</label></td>
        <td style="font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb4">
            <label class="custom-control-label" for="cb4"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Ab Machine</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb5">
            <label class="custom-control-label" for="cb5"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(gem)"><i class="fas fa-gem blue-text mb-2"></i></td>
        <td (click)="scroll(gem)"><label style="font-weight: 500;">Leg press & Calve Press</label></td>
        <td style="font-weight: 500;">3*</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb6">
            <label class="custom-control-label" for="cb6"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Leg Extensions</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb7">
            <label class="custom-control-label" for="cb7"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(key)"><i class="fas fa-key blue-text mb-2"></i></td>
        <td (click)="scroll(key)"><label style="font-weight: 500;">Deadlift</label></td>
        <td style="font-weight: 500;">4</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb8">
            <label class="custom-control-label" for="cb8"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dumbbell)"><i class="fas fa-dumbbell blue-text mb-2"></i></td>
        <td (click)="scroll(dumbbell)"><label style="font-weight: 500;">Shoulder press</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb9">
            <label class="custom-control-label" for="cb9"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(fist)"><i class="fas fa-fist-raised blue-text mb-2"></i></td>
        <td (click)="scroll(fist)"><label style="font-weight: 500;">Walking Lunge</label></td>
        <td style="font-weight: 500;">3</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb10">
            <label class="custom-control-label" for="cb10"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td (click)="scroll(dragon)"><i class="fas fa-dragon blue-text mb-2"></i></td>
        <td (click)="scroll(dragon)"><label style="font-weight: 500;">Shoulder Endurance</label></td>
        <td style="font-weight: 500;">∞</td>
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input (click)="cbCheck($event)" type="checkbox" class="custom-control-input" id="cb11">
            <label class="custom-control-label" for="cb11"></label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div #fire class="col-lg-4 mb-5">
      <i class="fas fa-fire fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Warming up - Endurance <i id="warmingupQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'warmingupQmark'">
          <p>Endurance means doing sets with more then 15 repetitions.</p>
      </div>
      <p class="grey-text">Bike to the gym. At the gym use light weight and high intensity.</p>
    </div>

    <div #fist class="col-lg-4 mb-5">
      <i class="fas fa-fist-raised fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Calisthenics - Hypertrophy <i id="bodyweightQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'bodyweightQmark'">
          <p>Hypertrophy means doing sets between the 6 and 15 repetitions.</p>
      </div>
      <p class="grey-text">Train with the weight of your own body, average amount of rest between sets.</p>
    </div>

    <div #key class="col-lg-4 mb-5">
      <i class="fas fa-key fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Key sets - Strenght <i id="keysetQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'keysetQmark'">
          <p>Strenght means doing sets with less then 6 repetitions.</p>
      </div>
      <p class="grey-text">Go heavy, do a drop set at the end. Go for 95% of max, longer resting periods between sets.</p>
    </div>
  </div>

  <div class="row">
    <div #gem class="col-lg-4 mb-5">
      <i class="fas fa-gem fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Super sets - Hypertrophy <i id="supersetQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'supersetQmark'">
          <p>Hypertrophy means doing sets between the 6 and 15 repetitions.</p>
      </div>
      <p class="grey-text">2 Exercises (sets) in succession. Train at +- 70% of your max, average amount of rest between sets.</p>
    </div>

    <div #dumbbell class="col-lg-4 mb-5">
      <i class="fas fa-dumbbell fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Normal sets - Hypertrophy <i id="normalsetQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'normalsetQmark'">
          <p>Hypertrophy means doing sets between the 6 and 15 repetitions.</p>
      </div>
      <p class="grey-text">Train at +- 80% of your max, average amount of rest between sets.</p>
    </div>

    <div #dragon class="col-lg-4 mb-5">
      <i class="fas fa-dragon fa-3x blue-text mb-2"></i>
      <h5 class="font-weight-bold title3c">Beastmode sets - Endurance <i id="beastmodeQmark" (click)=qMarkClicked($event) class="far blue-grey-text fa-question-circle"></i></h5> 
      <div class="infobox" *ngIf="qMark === 'beastmodeQmark'">
          <p>Endurance means doing sets with more then 15 repetitions.</p>
      </div>
      <p class="grey-text">All Exercises (sets) in succession. Train at +- 60% of your max, no rest between sets.
      </p>
    </div>
  </div>

  <h5 class="font-weight-bold">Strenght pyramid</h5> 
  <div class="row">
      <div class="col-lg-12 mb-3">
          <img src="assets/img/pyramid.jpg" class="img-fluid">
      </div>
  </div>

</section>