<div id="cv" class="instaFade">
    <div class="mainDetails">
  
      <div id="name">
        <h1 class="quickFade delayTwo">Day two</h1>
        <br>
        <h2 class="quickFade delayThree">Abs, Legs & Shoulders</h2>
      </div>
  
      <div id="contactDetails" class="quickFade delayFour">
        <ul>
          <li>From: 15 April 2019</li>
          <li>Till: 31 May 2019</li>
        </ul>
      </div>
  
      <div class="clear"></div>
    </div>
  
    <div id="mainArea" class="quickFade delayFive">
      <section>
        <div class="sectionTitle">
          <h1>Warming up</h1>
        </div>
  
        <div class="sectionContent">
          <article>
              <h2>Pull-ups & Dips</h2>
              <p class="subDetails">Super Set: 2 Sets </p>
              <h2>Weights</h2>
              <p class="subDetails">Warming up</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Abs</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Mat Workouts</h2>
            <p class="subDetails">10 minutes, 45 sec train & 15 sec rest per exercise</p>
            <h2>Horizontal Cable Woodchop</h2>
            <p class="subDetails">3 Sets both sides</p>
            <h2>Ab Machine </h2>
            <p class="subDetails">3 Sets - The 80% Rule</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Legs</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Squats</h2>
            <p class="subDetails">Key Workout: 5 Sets - Pyramid With Drop</p>
            <h2>Leg press & Machine Calve Press</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
            <h2>Deadlift & Dumbbell Lunge</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
  
      <section>
        <div class="sectionTitle">
          <h1>Shoulders</h1>
        </div>
  
        <div class="sectionContent">
          <article>
            <h2>Shoulder Press</h2>
            <p class="subDetails">Key Workout: 5 Sets - Pyramid With Drop</p>
            <h2>Dumbbell Lateral Raise & Front Dumbbell Raise & Standing Shoulder Press</h2>
            <p class="subDetails">Power Set: 3 Sets - The 80% Rule</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>