<section id="content" class="text-center my-2">
  <h1 class="h1-responsive font-weight-bold mt-2">Visuals</h1>

  <div class="row">
    <div #WarmingUp class="col-lg-6 mb-5 mt-3">
      <i class="fas fa-fire fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Visualization 1</h5>
      <div echarts [options]="chart1Opt" class="chart"></div>
    </div>

    <div #PullUpsDips class="col-lg-6 mb-5 mt-3">
      <i class="fas fa-fire fa-3x cyan-text mb-2"></i>
      <h5 class="font-weight-bold title2c">Visualization 2</h5>
      <div echarts [options]="chart2Opt" class="chart"></div>
    </div>
  </div>
</section>